* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.header {
    background-color: orangered;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#products {
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    margin-top: 60px;
    gap: 30px;
    padding: 30px;
    flex-wrap: wrap;
}

.airpods {
   width: 400px;
   height: 400px;
   background-color: red;
   text-align: center;
   border: 3px solid ;
   border-radius: 5px;
}

.airpods img {
    width: 100%;
    height: 300px;
    transition: transform 0.3 ease;
    border-radius: 5px;
}

.airpods p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: orangered;
    width: 40%;
    margin: auto;
}

.airpods img:hover {
    transform: scale(1.08);
}

.go-pro {
   width: 400px;
   height: 400px;
   background-color: red;
   text-align: center;
   border-radius: 5px;
}

.go-pro img {
    width: 100%;
    height: 300px;
    transition: transform 0.3 ease;
    border-radius: 5px;
    border-bottom: 3px solid orangered;
}

.go-pro p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: orangered;
    width: 40%;
    margin: auto;
}

.go-pro img:hover {
    transform: scale(1.08);
}

.Iphone {
   width: 400px;
   height: 400px;
   background-color: red;
   text-align: center;
   border-radius: 5px;
}

.Iphone img {
    width: 100%;
    height: 300px;
    transition: transform 0.3 ease;
    border-radius: 5px;
    border-bottom: 3px solid orangered;
}

.Iphone p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: orangered;
    width: 40%;
    margin: auto;
}

.Iphone img:hover {
    transform: scale(1.08);
}

.mac {
   width: 400px;
   height: 400px;
   background-color: red;
   text-align: center;
   border-radius: 5px;
}

.mac img {
    width: 100%;
    height: 300px;
    transition: transform 0.3 ease;
    border-radius: 5px;
    border-bottom: 3px solid orangered;
}

.mac p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: orangered;
    width: 40%;
    margin: auto;
}

.mac img:hover {
    transform: scale(1.08);
}


.samsung-phone {
   width: 400px;
   height: 400px;
   background-color: red;
   text-align: center;
   border-radius: 5px;
}

.samsung-phone img {
    width: 100%;
    height: 300px;
    transition: transform 0.3 ease;
    border-radius: 5px;
    border-bottom: 3px solid orangered;
}

.samsung-phone p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: orangered;
    width: 40%;
    margin: auto;
}

.samsung-phone img:hover {
    transform: scale(1.08);
}


.samsung-watch {
   width: 400px;
   height: 400px;
   background-color: red;
   text-align: center;
   border-radius: 5px;
}

.samsung-watch img {
    width: 100%;
    height: 300px;
    transition: transform 0.3 ease;
    border-radius: 5px;
    border-bottom: 3px solid orangered;
}

.samsung-watch p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: orangered;
    width: 40%;
    margin: auto;
}

.samsung-watch img:hover {
    transform: scale(1.08)
}

