* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

.supermercado-one-regular {
    font-family: "Supermercado One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(7, 7, 34);
}

.header {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(7, 7, 34);
}

.header h1,
h3 {
    background: linear-gradient(to right, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navigation {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.navigation nav {
    display: flex;
    gap: 70px;
}

.navigation a {
    background: linear-gradient(to right, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid orange;
    margin: 30px auto;
}
.main-text {
    display: flex;
    justify-content: center;
    color: white;
    font-size: xx-large;
    padding: 30px;
    margin-bottom: 30px;
}

.index-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.avengers {
    width: 250px;
    height: 400px;
    border: 2px solid wheat;
    text-align: center;
    padding: 10px;
}

.avengers img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.avengers img:hover {
    transform:scale(1.2);
}

.batman {
    width: 250px;
    height: 400px;
    border: 2px solid wheat;
    text-align: center;
    padding: 10px;
}

.batman img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.batman img:hover{
    transform:scale(1.2);
}

.interstellar {
    width: 250px;
    height: 400px;
    border: 2px solid wheat;
    text-align: center;
    padding: 10px;
}

.interstellar img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.interstellar img:hover{
    transform:scale(1.2);
}

.wick {
    width: 250px;
    height: 400px;
    border: 2px solid wheat;
    text-align: center;
    padding: 10px;
}

.wick img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.wick img:hover {
    transform:scale(1.2);
}

.more {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: xx-large;
    padding: 30px;
}

footer {
    display: flex;
    justify-content: center;
    color: white;
    border-top: 1px solid white;
    padding: 10px;
}

footer h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}


.movie-header {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: 70px;
    padding: 20px;
}

#movies {
    display: flex;
    justify-content: space-around;
    font-size: x-large;
}

.leo {
    width: 200px;
    height: 420px;
    border: 2px solid wheat;
    text-align: center;
    padding: 10px;
}

.leo p {
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

.leo img {
    width: 100%;
    height: 300px;
    transition: transform 0.3s ease;
}

.leo img:hover {
    transform: scale(1.05);

}

.vikram {
    width: 200px;
    height: 420px;
    border: 2px solid wheat;
    text-align: center;
    padding: 10px;
}

.vikram p {
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

.vikram img {
    width: 100%;
    height: 300px;
    transition: transform 0.3s ease;
}

.vikram img:hover {
    transform: scale(1.05);

}

.avatar {
    width: 200px;
    height: 420px;
    border: 2px solid wheat;
    text-align: center;
    padding: 10px;
}

.avatar p {
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

.avatar img {
    width: 100%;
    height: 300px;
    transition: transform 0.3s ease;
}

.avatar img:hover {
    transform: scale(1.05);

}

.series-header {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(137, 185, 6));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: 50px;
    padding: 20px;
    margin-top: 30px;
}

#webseries {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.money-heist {
    width: 200px;
    height: 410px;
    border: 2px solid wheat;
    text-align: center;
    padding: 10px;
}

.money-heist p {
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.money-heist img {
    width: 100%;
    height: 300px;
    transition: transform 0.3s ease;
}

.money-heist img:hover {
    transform: scale(1.05);

}

.breaking-bad {
    width: 200px;
    height: 410px;
    border: 2px solid wheat;
    text-align: center;
    padding: 10px;
}

.breaking-bad p {
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.breaking-bad img {
    width: 100%;
    height: 300px;
    transition: transform 0.3s ease;
}

.breaking-bad img:hover {
    transform: scale(1.05);

}

.got {
    width: 200px;
    height: 410px;
    border: 2px solid wheat;
    text-align: center;
    padding: 10px;
}

.got p {
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.got img {
    width: 100%;
    height: 300px;
    transition: transform 0.3s ease;
}

.got img:hover {
    transform: scale(1.05);
}

.about-nav {
    display: flex;
    justify-content: center;
    margin: 20px;
    background: linear-gradient(to right, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-nav nav {
    display: flex;
    justify-content: center;
    gap: 70px;
}

#about {
    text-align: center;
    padding: 30px;
    color: white;
    margin-bottom: 10px;
}

#about h2 {
    background: linear-gradient(to right, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-content {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px;
}

.about-card {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 250px;
    padding: 20px;
    border: 2px solid wheat;
}

.about-card h3 {
    font-size: 20px;
}

.about-card p {
    font-size: 16px;
}

#contact {
    text-align: center;
    padding: 30px;
    color: white;
    margin-bottom: 10px;
}

#contact h2 {
    background: linear-gradient(to right, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-nav {
    display: flex;
    justify-content: center;
    margin: 20px;
    background: linear-gradient(to right, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-nav nav {
    display: flex;
    gap: 70px;
}

.contact-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.contact-info,
.contact-form {
    width: 300px;
    height: auto;
    padding: 20px;
    border: 2px solid wheat;
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 40px;
}


.contact-form input,
.contact-form textarea {
    width: 90%;
    padding: 10px;
}

.contact-form button {
    padding: 10px 25px;
    background: linear-gradient(to right, orange, red);
    border: none;
    border-radius: 10px;
    color: black;
    transition: 0.3 ease;
}

.contact-form button:hover {
    transform: scale(1.09);
}